.services{
    background-color: #7c7c7c28;
    .services-icon{
        color: #4b89cc;
        font-size: 40px;
        font-weight: 800;
    }
    
  }
  .item{
    border: 1px dotted rgb(255, 255, 255);
  }
  .shadow{
    border-radius: 8px;
    box-shadow: 2px 1px 10px rgb(43 87 133 / 46%) !important;
  }