// body{
//     border: 1px solid blue;
// }

.leftSite{
    border: 1px solid var(--mainColor);
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
button{
    background-color: #ff7979;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color : white
}